{% extends 'index_base.html' %}
{% load static %}


{% block content %}
<!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">



                  <div class="card-img-top">
                    <img src="{{ manager_card.img.url }}" style="width: 300px ">
                  </div>


                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>{{ manager_card.name }}</h3>
                <ul>
                    <li><strong>Телефон</strong>: {{ manager_card.telefon }}</li>
                    <li><strong>Email</strong>: {{ manager_card.email }}</li>
                    <li><strong>ID</strong>: {{ manager_card.id }}</li>

                    <ul>
                    <li><strong>Другие объекты менеджера</strong>:
                    {% for i in realty %}
                    <div class="text">
                        {% if i.managers.id == manager_card.id %}
                        <a href="/realty_card/{{ i.id }}">Объект: {{ i.name }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    </ul>
                </li>




                </ul>
              </div>
              <div class="portfolio-description">
              </div>
            </div>

          </div>

        </div>
      </section>
    <!-- End Portfolio Details Section -->

    <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-down">
            <h2>ОСТАВИТЬ ЗАЯВКУ МЕНЕДЖЕРУ</h2>
          </div>
        </div>
      </section>
    <!-- End Services Section -->

    <!-- ======= Contact Us Section ======= -->
     <section id="contact" class="contact">

        <div class="container">

          <form action="" method="post" data-aos="fade-up" data-aos-delay="400">
                    {% csrf_token %}
             <div class="row">
              <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше Имя" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" required>
              </div>
             </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="question" id="question" placeholder="Ваш вопрос" required>
              </div>
                  <p></p>
                  <div class="form-group mt-3">
                <input  type="hidden" class="form-control" name="id_manager" id="id_manager" value= {{ manager_card.id }} >
              </div>
                  <p></p>
              <div class="text-center"><button type="submit" class="btn btn-success" >Отправить сообщение</button></div>
          </form>

        </div>
      </section>
    <!-- End Contact Us Section -->


    <!-- <div class="container">

   <form action="" method="post">
    {% csrf_token %}
       <input name="name" placeholder="Имя">
       <input name="email" placeholder="email">
       <input name="question" placeholder="question">
       <input type="hidden" name="id_manager" value= {{ manager_card.id }} >
       <button type="submit"> Отправить </button>
   </form>-->

</div>



{% endblock %}


