
{% extends 'index_base.html' %}


{% block content %}
        <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title" data-aos="fade-down">
            <span>ОСТАВИТЬ ЗАЯВКУ</span>
            <h2>ОСТАВИТЬ ЗАЯВКУ</h2>
          </div>
        </div>
      </section><!-- End Services Section -->


Оставить заявку
<p></p>
    <form action="" method="post">
        {% csrf_token %}
        {{  form.as_p }}

        <button type="submit">Отправить</button>

    </form>

{% endblock %}