
<!-- ======= Hero Section ======= -->
<body>
<div class="wrap">
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>НАЙДИТЕ НЕДВИЖИМОСТЬ СВОЕЙ МЕЧТЫ С <span>PLATO</span></h1>
        <h2>ПОЛУЧИТЕ ЛУЧШИЕ ВАРИАНТЫ ОБЪЕКТОВ ПО ВАШИМ ПАРАМЕТРАМ</h2>
        <a href="/index_request" class="btn-get-started scrollto">НАЧАТЬ ПОИСК</a>
    </div>
</section><!-- End Hero -->


{% extends 'index_base.html' %}

{% load static %}

{% block content %}

        <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" >

          <div class="row">

              {% for i in managers %}

            <div class="col-6 col-md-4" >
              <div class="card" data-aos="fade-up">
                <img class="card-img-top" alt="Sandwich" style="width: 100%; height: 0px; padding-bottom: 56.25%; background: url({{ i.img.url }}) no-repeat center; background-size: cover;" >
                <div class="card-body">
                  <i class="bx bx-tachometer"></i>
                  <h5 class="card-title"><a href="">Менеджер: {{ i.name }}</a></h5>
                  <p class="card-text">Телефон: {{ i.telefon }}</p>
                    <p class="card-text">Email: {{ i.email }}</p>
                </div>
              </div>
            </div>

                {% endfor %}

          </div>
        </div>
      </section><!-- End Features Section -->
    <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="row">
            <div style="background-image: url({% static 'img/about.jpg' %})" data-aos="fade-right" class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pt-4 pt-lg-0 d-flex align-items-stretch">
              <div class="content d-flex flex-column justify-content-center" data-aos="fade-left">
                <h3>Агенство недвижимости полного цикла</h3>
                <p>
                  Мы профессиональная компания, специализирующаяся на оказании полного спектра услуг в сфере недвижимости. Наше агентство предлагает экспертное консультирование, эффективный маркетинг, доступ к широкой базе данных, защиту интересов клиентов и упрощение процесса сделок. Мы стремимся обеспечить высокий уровень профессионализма и удовлетворение потребностей наших клиентов.
                </p>
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <i class="bx bx-receipt"></i>
                    <h4>Экспертное знание рынка</h4>
                    <p>Агентства недвижимости имеют глубокое понимание текущих тенденций и ценовой динамики на рынке недвижимости.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Профессиональная поддержка</h4>
                    <p>Агентства недвижимости предоставляют профессиональное сопровождение и консультации во всех этапах сделки.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <i class="bx bx-images"></i>
                    <h4>Расширенный доступ к предложениям</h4>
                    <p>Агентства недвижимости имеют доступ к широкой базе данных объектов недвижимости, включая скрытые предложения.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="400">
                    <i class="bx bx-shield"></i>
                    <h4>Упрощение процесса</h4>
                    <p>Агентства недвижимости берут на себя организацию и координацию всех формальностей, связанных с покупкой или продажей недвижимости.</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>

        </div>
      </section><!-- End About Section -->


    <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container">

          <div class="row">

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
            </div>

          </div>

        </div>
      </section><!-- End Clients Section -->


    <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title" data-aos="fade-down">
            <span>Наши преимущества</span>
            <h2>Наши преимущества</h2>
            <p>У нас большой опыт в подборе объектов по любым параметрам</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-briefcase" style="color: #0ea5e0;"></i>
                <h4><a href="#">Профессиональные навыки</a></h4>
                <p>Агентства недвижимости обладают обширными знаниями и опытом в сфере недвижимости, что позволяет им предоставлять качественные услуги и справляться с различными сложностями.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-card-checklist" style="color: #07cc70;"></i>
                <h4><a href="#">Маркетинговая экспертиза</a></h4>
                <p>Агентства недвижимости обладают навыками и ресурсами для эффективного маркетинга недвижимости, привлекая больше потенциальных покупателей и продавцов.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-bar-chart" style="color: #e40373;"></i>
                <h4><a href="#">Широкий доступ к рынку</a></h4>
                <p>Агентства недвижимости имеют доступ к обширной базе данных недвижимости, что позволяет им предложить клиентам больше вариантов выбора и находить наиболее подходящие предложения.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-binoculars" style="color: #f0b103;"></i>
                <h4><a href="#">Экономия времени и усилий</a></h4>
                <p>Агентства недвижимости берут на себя все процессы поиска, просмотра и сделки с недвижимостью, что позволяет клиентам сэкономить время и усилия.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="bi bi-brightness-high" style="color: #3145fa;"></i>
                <h4><a href="#">Защита интересов клиентов</a></h4>
                <p>Агентства недвижимости выступают посредниками между покупателями и продавцами, обеспечивая справедливые условия и защищая интересы своих клиентов.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                <i class="bi bi-calendar4-week" style="color: #a00098;"></i>
                <h4><a href="#">Правовая поддержка</a></h4>
                <p>Агентства недвижимости обладают знаниями о законодательстве, связанном с недвижимостью, и могут предоставить клиентам необходимую правовую поддержку и консультации.</p>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Services Section -->


    <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container">

          <div class="section-title" data-aos="fade-down">
            <span>Контакты</span>
            <h2>Контакты</h2>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Наш Адрес</h3>
                <p>Санкт-Петербург,<br>10-11-я линии В.О. 55</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Наш Email</h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="info-box">
                <i class="bx bx-phone-call"></i>
                <h3>Позвоните Нам</h3>
                <p>+7 999 123 45 67<br>+7 667 254 44 41</p>
              </div>
            </div>
          </div>
            <p></p>
          <form action="" method="post" role="form"  data-aos="fade-up" data-aos-delay="400">
                {% csrf_token %}
             <div class="row">
              <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше Имя" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" required>
              </div>
             </div>

              <div class="form-group mt-3">
                    <input type="text" class="form-control" name="question" id="question" placeholder="Ваш вопрос" required>
              </div>
              <p></p>
              <p></p>
              <div class="text-center"><button type="submit" class="btn btn-success">Оставить заявку</button></div>
          </form>

        </div>
      </section><!-- End Contact Us Section -->
</div>
</body>

{% endblock %}