{% extends 'index_base.html' %}


{% block content %}
        <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title" data-aos="fade-down">
            <span>МЕНЕДЖЕРЫ</span>
            <h2>МЕНЕДЖЕРЫ</h2>
          </div>
        </div>
      </section><!-- End Services Section -->


        <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">

          <div class="row">

              {% for i in managers %}

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="card" data-aos="fade-up">
                <img class="card-img-top" alt="Sandwich" style="width: 300px; height: 0px; padding-bottom: 56.25%; background: url({{ i.img.url }}) no-repeat center; background-size: cover;" >
                <div class="card-body">
                  <i class="bx bx-tachometer"></i>
                  <h5 class="card-title"><a href="">Объект: {{ i.name }}</a></h5>
                  <p class="card-text">Описание: {{ i.telefon }}</p>
                    <p class="card-text">Адрес: {{ i.email }}</p>
                </div>
              </div>
            </div>

                {% endfor %}

          </div>
        </div>
      </section><!-- End Features Section -->

{% endblock %}