
{% extends 'index_base.html' %}


{% block content %}

    {# стили для формы поиска#}
<style>
  .form-inline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-inline .form-group {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  .form-inline .form-group .btn-group {
    display: flex;
    align-items: center;
  }

  .form-inline .form-group .btn-group .btn {
    margin-left: 5px;
  }

  @media (min-width: 768px) {
    .form-inline .form-group {
      flex: 0 0 auto;
      margin-right: 10px;
    }

    .form-inline .form-group:last-child {
      margin-right: 0;
    }
  }
</style>
        <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title" data-aos="fade-down">
            <span>ОБЪЕКТЫ</span>
            <h2>ОБЪЕКТЫ</h2>
          </div>
        </div>
      </section><!-- End Services Section -->

    {# ФОРМА ПОИСКА начало#}
<form class="form-inline mt-2 mt-md-0" role="form" action="" method="get">
  <div class="form-group">
    <select name="category" class="form-control" onchange="this.form.submit()">
      <option value="">Тип недвижимости</option>
      {% for i in category %}
        <option value="{{ i.pk }}" {% if request.GET.category|stringformat:"s" == i.pk|stringformat:"s" %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select><p></p>
    <input name="q" class="form-control" type="text" placeholder="Поиск по слову" aria-label="Search" value="{{ request.GET.q }}">
  </div>
  <div class="form-group">
    <input name="min" class="form-control" type="number" min="0" placeholder="Мин. цена" aria-label="Search" value="{{ request.GET.min }}"><p></p>
    <input name="max" class="form-control" type="number" min="0" placeholder="Макс. цена" aria-label="Search" value="{{ request.GET.max }}">
  </div>
 <div class="form-group">
    <input name="min_area" class="form-control" type="number" min="0" placeholder="Мин. площадь" aria-label="Search" value="{{ request.GET.max }}"><p></p>
    <input name="max_area" class="form-control" type="number" min="0" placeholder="Макс. площадь" aria-label="Search" value="{{ request.GET.max }}">
  </div>
  <div class="form-group">
    <div class="btn-group">
      <button class="btn btn-outline-success" type="submit">Поиск</button>
      <button class="btn btn-outline-secondary" type="button" onclick="resetForm(this.form)">Очистить</button>
    </div>
  </div>
</form>
        {# ФОРМА ПОИСКА конец#}

    <script>
          function resetForm(form) {
            form.category.value = '';
            form.q.value = '';
            form.min.value = '';
            form.max.value = '';
            form.submit();
          }
        </script>

        <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
          <div class="row">
              {% for i in all_realty %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="card" data-aos="fade-up">
                  <h5 class="card-title"><a href="/realty_card/{{ i.id }}">Объект: {{ i.name }}</a></h5>

                <a href="/realty_card/{{ i.id }}"><img src="{{ i.img.url }}"  class="card-img-top" alt="Image" style="height: 200px"></a>

                <div class="card-body">
                  <!-- <i class="bx bx-tachometer"></i>-->
                    <p class="card-text">Описание: {{ i.info }}</p>
                    <p class="card-text">Адрес: {{ i.adres }}</p>
                    <p class="card-text">Площадь: {{ i.area }} м2</p>
                    <p class="card-text">Цена: {{ i.price }} руб.</p>
                </div>
                 <p></p>
              </div>
            </div>

                {% endfor %}

          </div>
        </div>
      </section><!-- End Features Section -->

{% endblock %}